<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forget Password</title>
  </head>
  <body></body>
</html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/loading.css" />
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <div class="loading d-none" id="loading">
      <div class="text-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card mt-5 mb-5 w-50 m-auto">
        <div class="card-header">Forget Password</div>
        <div class="card-body mt-3">
          <div
            class="alert alert-danger d-none text-center"
            id="alertError"
            role="alert"
          ></div>
          <form action="/auth/forget" method="post">
            <div class="input-group mb-3">
              <span
                class="input-group-text col-6 col-md-4 col-lg-3"
                id="basic-addon3"
                >Email</span
              >
              <input
                type="text"
                class="form-control col-6 col-md-8 col-lg-9"
                aria-describedby="basic-addon3"
                name="email"
                id="email"
                required
              />
            </div>
          </form>
          <div class="input-group mb-3">
            <div class="m-auto">
              <button
                class="btn btn-success mt-3 ms-2"
                id="submit"
                onclick="forgetPassword()"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/scripts') %>
    <script src="/javascripts/auth/forget.js"></script>
  </body>
</html>
