<div class="mt-3 text-center" style="font-size: 25px">
  <a class="social-networks" href="https://www.instagram.com/this.majid"
    ><i class="me-2 fab fa-instagram"></i
  ></a>
  <a class="social-networks" href="http://t.me/thismajid"
    ><i class="me-2 fab fa-telegram"></i
  ></a>
  <a class="social-networks" href="https://github.com/thismajid"
    ><i class="me-2 fab fa-github"></i
  ></a>
  <a class="social-networks" href="https://www.linkedin.com/in/thismajid"
    ><i class="fab fa-linkedin"></i
  ></a>
</div>
